<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.AccountMapper">

    <select id="findByUserId" resultType="AccountDTO" parameterType="String">
        select account_no   as accountNo,
                user_id      as userId,
                account_nm   as accountNm,
                balance,
                account_stat as accountStat
        from accounts_info
        where user_id = #{userId}
    </select>

    <select id="findByAccountNo" resultType="AccountDTO" parameterType="String">
        select account_no   as accountNo,
                user_id      as userId,
                account_nm   as accountNm,
                balance,
                account_stat as accountStat
        from accounts_info
        where account_no = #{accountNo}
    </select>

    <update id="updateBalance" parameterType="AccountDTO">
        update accounts_info
        set balance = #{balance}
        where account_no = #{accountNo}
    </update>

</mapper>
